<div class="content">
  <div class="page-header">
    <a href="<%= url_for(controller: "error", action: "index") %>" class="btn btn-sm btn-info pull-right"><i class="fa fa-list"></i> Errors</a>
    
    <h2><span class="label label-default"><%= @error.project_name %></span> <%= @error.message %></h2>
    <small>Occured at <%= @error.occured_at %></small>
  </div>
  <!--/ .page-header -->

  <div class="row">
    <div class="col-md-3">
      <div class="tabs-left">
        <ul class="nav nav-tabs nav-stacked">
          <li class="active"><a href="#general" data-toggle="tab">General</a></li>
          <li><a href="#browser" data-toggle="tab">Browser</a></li>
          <li><a href="#backtrace" data-toggle="tab">Backtrace</a></li>
        </ul>
      </div>
    </div>
    <!--/ .col-md-3 -->

    <div class="col-md-9">
      <div class="tab-content">
        <div class="tab-pane active" id="general">
          <table class="table table-bordered table-hover table-striped">
            <tbody>
              <tr>
                <td><strong>Project :</strong></td>
                <td><%= @error.project_name %></td>
              </tr>
              <tr>
                <td><strong>Message :</strong></td>
                <td><%= @error.message %></td>
              </tr>
              <tr>
                <td><strong>Occured At :</strong></td>
                <td><%= @error.occured_at %></td>
              </tr>
              <tr>
                <td><strong>URL :</strong></td>
                <td><%= @error.url %></td>
              </tr>
              <tr>
                <td><strong>Where :</strong></td>
                <td><%= @error.where %></td>
              </tr>
              <tr>
                <td><strong>Format :</strong></td>
                <td><%= @error.format %></td>
              </tr>
              <tr>
                <td><strong>Method :</strong></td>
                <td><%= @error.method %></td>
              </tr>
              <tr>
                <td><strong>Headers :</strong></td>
                <td><%= @error.headers %></td>
              </tr>
              <tr>
                <td><strong>Port :</strong></td>
                <td><%= @error.headers %></td>
              </tr>
              <tr>
                <td><strong>Protocol :</strong></td>
                <td><%= @error.headers %></td>
              </tr>
              <tr>
                <td><strong>IP :</strong></td>
                <td><%= @error.ip %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--/ .tab-pane -->

        <div class="tab-pane" id="browser">
          <table class="table table-bordered table-hover table-striped">
            <tbody>
              <tr>
                <td><strong>Browser :</strong></td>
                <td><%= @error.browser %></td>
              </tr>
              <tr>
                <td><strong>Browser Version :</strong></td>
                <td><%= @error.version %></td>
              </tr>
              <tr>
                <td><strong>Platform :</strong></td>
                <td><%= @error.platform %></td>
              </tr>
              <tr>
                <td><strong>Bot? :</strong></td>
                <td>
                  <% if @error.bot %>
                    <span class="label label-success">YES</span>
                  <% else %>
                    <span class="label label-default">NO</span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><strong>Is Modern Browser? :</strong></td>
                <td>
                  <% if @error.modern %>
                    <span class="label label-success">YES</span>
                  <% else %>
                    <span class="label label-danger">NO</span>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><strong>Metadata :</strong></td>
                <td><%= @error.browser_meta %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--/ .tab-pane -->

        <div class="tab-pane" id="backtrace">
          <% if @error.backtrace %>
          <div class="highlight"><pre><code><%= @error.backtrace %></code></pre></div>
          <% else %>
          <div class="alert alert-info">
            There are no backtrace information.
          </div>
          <% end %>
        </div>
        <!--/ .tab-pane -->
      </div>
    </div>
    <!--/ .col-md-9 -->
  </div>
  <!--/ .row -->
</div>
<!--/ .content -->