<h1>Narsil</h1>
<p><%= @req.method %></p>
<p><%= @req.format %></p>
<p><%= @req.protocol %></p>
<p><%= @bro.user_agent %></p>
<p><%= @bro.version %></p>
<p><%= @bro.platform %></p>
<p><%= @bro.modern? %></p>
<p><%= @bro.bot? %></p>