<h1>Narsil</h1>
<p><%= @req.protocol %></p>
<p><%= @req.method %></p>
<p><%= @req.port %></p>
<p><%= @req.headers %></p>

<p><%= @browser.name %></p>
<p><%= @browser.bot? %></p>
<p><%= @browser.modern? %></p>
<p><%= @browser.user_agent %></p>